* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    ;
}

.main-table {
    max-width: 1400px;
    margin: 50px auto;
}

.st-profile {
    height: 150px;
}

.st-profile td {
    border: none;
    background-color: white;
    vertical-align: top;
}

.st-profile .st-img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    object-position: center center;

}

.st-profile>td:nth-child(2) {
    line-height: 1.6;
    width: 280px;
    font-weight: 300;
    font-size: 15px;
    vertical-align: top;
}

.st-profile>td:nth-child(3) {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.st-profile>td:nth-child(4) {

    text-align: center;
    vertical-align: middle;
}

.logo-img {
    width: 80%;
    height: auto;
}

.st-name {
    font-size: 19px;
    color: #757575;
    font-weight: 400;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 2px rgb(189, 189, 189) solid;

}

.h1 {
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}

.h2 {
    width: calc(100%/15);
    padding-bottom: 20px;
    padding-top: 5px;
    font-weight: 400;
}

.main-table>tbody>tr>td {
    height: 120px;
    background-color: #d9d9d9;
    border: 2px #bfbfbf solid;
    vertical-align: top;
    min-width: 50px;

}

.cell-dataTable-1 {
    width: auto;
    font-size: 8px;

}

.cell-dataTable-1 td {
    background-color: transparent;
    height: auto;
    border: none;
    font-weight: 300;

}

.cell-dataTable-1 th {
    background-color: transparent;
    height: auto;
    border: none;
    text-align: left;
    font-weight: 500;
    padding-right: 10px;
    min-width: 48px;

}

.cell-dataTable-2 {
    width: auto;
    height: fit-content;
    font-size: 8px;

}

.cell-dataTable-2 td {
    background-color: #eff8ef;
    border: 2px solid rgb(230, 230, 230);
    width: 10px;
    height: 10px;
    text-align: center;
    font-weight: 300;
}

.cell-dataTable-2 tr>td:nth-child(2) {
    background-color: #85ca85;
    color: white;
}

.cell-dataTable-2 th {
    background-color: transparent;
    height: auto;
    border: none;
    text-align: left;
    padding-right: 5px;
    font-weight: 400;
    min-width: 48px;

}





/* set width for each row */
#row-2-width {
    width: 90%;
}

#row-3-width {
    width: 100%;
}

#row-4-width {
    max-width: 82%;
}

#row-5-width {
    background-color: white;
}

#row-6-width {
    background-color: white;
}





/* testing */

.LO-span {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #d2ecd0
}

.LO-span tr>td:first-child {
    border: none;
    background-color: transparent;
    font-weight: 300;
}

.data-col {
    max-width: 450px;
    font-size: 10px;
    line-height: 1.4;
    height: fit-content;
    border: none;
    height: 100%;
}

.txt-line td {
    height: fit-content;
    border: none;
    background-color: transparent;
}


.progress-t>td {
    border: none;
    height: fit-content;
    background-color: transparent;
}


@media print {
   .print {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}